@model IEnumerable<ClubDeportivoLeones.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/css/csclientes/index.css" rel="stylesheet" />
</head>

<h1>Lista de Clientes</h1>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoDeRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDPersonal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoDeRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDPersonal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <p>
        <a asp-action="Create">Crear Nuevo CLiente</a>
    </p>
</div>

